<div class="container">
    <h1 class="text-center"><%= @cart.title %></h1>
    <h3 class="text-center">Items</h3>
    <%= render 'items/items' %>
    <div>
        <h3>Total:</h3>
        <h3 id="total"><%= @cart.total %></h3>
    </div>
    <hr />
    <%= button_to 'Delete cart', @cart, method: :delete, form: { data: {turbo_confirm: "Are you sure?"}}, class:"btn btn-outline-danger" %>
</div>